include ../helpers/_mixins

doctype html

<!--[if lt IE 8]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
html.no-js(lang='')<!--<![endif]-->
  include ../../_head
  body
    .main-wrapper
      .content
        .container
          include ../blocks/_header
          block content
      include ../blocks/_footer

    block modals