extends templates/layouts/_default

block head
  - pageTitle = "test task";
  - pageDescription = "Description"
  - pageKeywords = "Keywords"
  - pageCopyright = "Copyright"

block content
  .page-header
    h2.page-title Тестовое задание.

  .page-body
    .task-list
      .task-list__item
        .task-list__item-title Поиск
        .task-list__item-body
          form(action="search")
            .input-group.input-group__search
              .form-control-input
                input.form-control(type='text', placeholder='Search')
                i.sprite.sprite-search
                button(type="reset").search-reset-btn
                  i.sprite.sprite-delete
              span.input-group-btn
                button.btn.btn__search.btn__warning(type='button') Go

      .task-list__item
        .task-list__item-title Адаптивнй список
        .task-list__item-body
          nav
            .nav-list.js-nav-list
              .nav-list__item.js-nav-list__item.active
                a(href="").nav-list__item-link
                  i.icon
                  | World Of Tanks
              .nav-list__item.js-nav-list__item
                a(href="").nav-list__item-link
                  i.icon
                  | World Of Warplanes
              .nav-list__item.js-nav-list__item
                a(href="").nav-list__item-link
                  i.icon
                  | World Of Warplanes

      .task-list__item
        .task-list__item-title Вкладки
        .task-list__item-body
          .tabs(data-toggle='tabslet', data-animation="true")
            ul.tabs__list
              li.tabs__list-item
                a(href='#tab-1') Вопросы и ответы
              li.tabs__list-item
                a(href='#tab-2') Правила
              li.tabs__list-item
                a(href='#tab-3') Безопасность
            #tab-1
              .tab__header
                h4.tab__header-title Почему не рассматриваются заявки с жалобами на нарушение Правил игры?
              .tab__body
                .tab__body-text.tab__body-text_2-col
                  p После введения функционала «Пожаловаться» не рассматриваются заявки, созданные в Центр поддержки пользователей о нарушении Правил игры по следующим пунктам:
                  ol
                    li «Оскорбления и провокации»
                      h5.sub-list-title В данный пункт входит:
                      ul
                        li - использование ненормативной лексики и оскорбление собеседников, применение унизительных кличек и прозвищ по расовому, национальному, религиозному либо половому признаку, а также провоцирование собеседника к их использованию;
                        li - клевета, размещение заведомо ложной информации об Игре, Администрации, Модераторах или Пользователях;
                        li - угрозы реальной расправы в отношенииили представителей Администрации Проекта. Все виды соглашения.
                    li «Неинформативные сообщения»
                      h5.sub-list-title В данный пункт входит:
                      ul
                        li - размещение информации (сообщения, фразы, символов и пр.), направленной на отвлечение Пользователей от темы беседы (флуд);
                        li - все виды рекламных сообщений, в частности ссылки на интернет-ресурсы.
                      p Также не рассматриваются следующие заявки, созданные в Центр поддержки пользователей о нарушении Правил игры:
                    li «Раскрытие позиций союзников»
                    li «Выталкивание союзника»
                    li «Неспортивное поведение»
                    li «Повреждение союзников»


            #tab-2
              .tab__header
                h4.tab__header-title Пользователь не вправе:
              .tab__body
                .tab__body-text
                  ol.tabs__list_2
                    li Распространять в коммерческих или некоммерческих целях Игру или ее копии, как путем распространения материальных носителей с ней, так и путем ее размещения в сети интернет для представления доступа к ней и (или) скачивания определенными лицами или неограниченным кругом лиц.

                    li Переводить Игру на другие языки без согласования с 
                      strong Wargaming
                      | .

                    li Распространять в коммерческих или некоммерческих целях аудиовизуальные элементы, изображения, а также иные объекты интеллектуальной собственности, присутствующие в Игре (кроме случаев, разрешенных 
                      strong Wargaming
                      | ).

                    li Распространять в коммерческих или некоммерческих целях Игровые элементы и Дополнительные возможности.

                    li Передавать права в отношении Игры, включая ее Дополнительные возможности, в коммерческих или некоммерческих целях третьим лицам, в том числе путем передачи Аккаунта, заключения договора или иным способом.

                    li Размещать в Игре материалы, оскорбляющие или унижающие честь и достоинство других Пользователей или третьих лиц, или ссылки на такие материалы.


            #tab-3
              .tab__header
                h4.tab__header-title Уважаемые игроки!
              .tab__body
                .tab__body-thumbnail
                  img(src="imgBackEnd/img1.jpg", alt="")
                .tab__body-text
                  p Безопасность учётных записей пользователей — один из главных приоритетов компании Wargaming. В связи с тем, что в открытый доступ попали пароли от миллионов email-адресов таких крупных почтовых сервисов, как «Яндекс», Mail.ru и Gmail, в качестве меры предосторожности мы вновь начинаем глобальную кампанию по повышению безопасности учётных записей Wargaming.net. 

                  p Акция «Защити свой пароль» проходит в World of Tanks и World of Warplanes с 9 сентября. Вы можете не только повысить уровень безопасности игрового аккаунта, но и получить за это игровое золото.

                  p Чтобы изменить свой пароль, необходимо авторизоваться на порталах World of Tanks или World of Warplanes, зайти в «Личный кабинет» и выбрать опцию «Изменить пароль к игре». Бонус в игровом золоте будет начислен один раз, после того как изменения вступят в силу.



      .task-list__item
        .task-list__item-title Список опций
        .task-list__item-body
          #cboxes.cboxes-list__wr

