//##################
// header
//##################
.header__logo-wrapper {
  margin: 0 auto;
  width: 150px;
  padding: 40px 0 30px;
}

.header__logo {
  display: block;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
  }
}


//##################
// end header
//##################
